<div class="jumbotron">
  <div class="container">
    <br><br><br>
    <h3 class="display-4 text-dark"><strong>Welcome to PortoEvent!</strong></h3>
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>
    <a class="btn btn-dark btn-outline-light btn-lg" href="<%= events_path %>" role="button">Find an event</a>
    <a class="btn btn-dark btn-outline-light btn-lg" href="<%= new_event_path %>" role="button">Create one!</a>
    <br><br><br><br><br>
  </div>
</div>
<div class="container-fluid">
  <br>
  <h3>Events coming up: </h3><br>
  <div class="list-group">
    <% @events.each do |event| %>
      <a href="/events/<%= event.id %>/" class="list-group-item list-group-item-action">
        <h5><%= event.title %></h5>
        <i class="fa-solid fa-calendar-days"></i><strong>Date: </strong><%= event.start_date.strftime('%A, %B %dth %Y') %><br>
        <i class="fa-solid fa-tag"></i><strong>Price: </strong><%= event.price %> €<br>
      </a>
    <% end %>
  </div>
  <br>
</div>
