<div class="container-fluid">
  <br>
  <h3>Your profile</h3>
  <br>
  <div class="my-box">
    <% if user_signed_in? %>
      First name: <%= current_user.first_name %><br><br>
      Last name: <%= current_user.last_name %><br><br>
      Description: <%= current_user.description %><br><br>
      <%= link_to "Complete or edit your profile", users_path(current_user) %><br><br>
      Email: <%= current_user.email %><br><br>
      <%= link_to "Account parameters", edit_user_registration_path %><br><br>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %><br>
    <% else %>
      You don't have access to this page, login or create an account!
    <% end %>
  </div>
</div>