<!DOCTYPE html>
<html>
  <head>
    <title>PortoEvent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://kit.fontawesome.com/1fc3880b90.js" crossorigin="anonymous"></script>
  </head>

<style>
.navbar {
  padding: 10px;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1513735492246-483525079686?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
  background-size: cover;
  background-position: center;
}

.container-fluid { 
  padding-left: 30px; 
  padding-right: 30px; 
} 

.my-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.my-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-solid {
  padding: 10px;
}
</style>

  <body>
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/flash'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
